.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(to bottom right,
      var(--white-100) 0 50%,
      var(--orange-5) 50% 100%);
}

.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 32px;
}

.title {
  max-width: 620px;
  font-size: 56px;
  line-height: 1.1;
  font-weight: 600;
  color: var(--black-100);
}

@media (max-width: 1024px) {
  .wrapper {
    position: relative;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right,
        var(--white-100) 0 50%,
        var(--orange-5) 50% 100%);
  }

  .left {
    width: 100%;
    padding: 0 24px;
    justify-content: center;
  }

  .left img {
    max-width: 320px;
    height: auto;
  }

  .right {
    width: 100%;
    padding: 0 24px;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 32px;
    max-width: 320px;
    margin-top: 32px;
  }

  .button {
    width: calc(100% - 32px);
    position: absolute;
    left: 16px;
    bottom: 48px;
  }
}