.answer {
  --border-color: var(--black-40);
  --fill-color: var(--white-100);

  position: relative;
  width: 100%;
  height: 72px;
  border: 0;
  background: transparent;
  cursor: pointer;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--black-100);
  text-align: left;
  padding-left: 32px;
}

/* MAIN SHAPE */
.answer::before,
.answer::after {
  content: '';
  position: absolute;
  inset: 0;
  clip-path: polygon(22px 0,
      calc(100% - 22px) 0,
      100% 50%,
      calc(100% - 22px) 100%,
      22px 100%,
      0 50%);

  pointer-events: none;
}

.answer::before {
  background: var(--border-color);
}

.answer::after {
  inset: 1px;
  background: var(--fill-color);
}

/* SIDE EXTENSIONS (OUTSIDE) */
.answer i {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.answer i::before,
.answer i::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 17px;
  height: 1px;
  background: var(--border-color);
  transform: translateY(-50%);
  pointer-events: none;
}

.answer i::before {
  left: -17px;
}

.answer i::after {
  right: -17px;
}

/* CONTENT */
.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.index {
  color: var(--orange-100);
  font-weight: 600;
}

.text {
  font-weight: 400;
}

/* STATES */
.inactive {
  --border-color: var(--black-40);
  --fill-color: var(--white-100);
}

.selected {
  --border-color: var(--orange-100);
  --fill-color: var(--orange-5);
}

.correct {
  --border-color: var(--green-100);
  --fill-color: var(--green-5);
}

.wrong {
  --border-color: var(--red-100);
  --fill-color: var(--red-5);
}

.answer:not(:disabled).inactive:hover {
  --border-color: var(--orange-100);
  --fill-color: var(--orange-5);
}

.disabled {
  cursor: default;
}

.disabled:hover {
  --border-color: var(--border-color);
  --fill-color: var(--fill-color);
}

/* MOBILE */
@media (max-width: 1024px) {
  .answer {
    height: 56px;
    font-size: 14px;
  }

  .answer i::before,
  .answer i::after {
    width: 12px;
  }

  .answer i::before {
    left: -12px;
  }

  .answer i::after {
    right: -12px;
  }
}